.main {
  min-height: 100vh;
  background-color: #a4c0cf;
}

.fog {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 0;
  animation: moveImage 30s linear infinite;
  left: 1000px;
  opacity: 0.5;
  width: 3000px;
}

@keyframes moveImage {
  0% {
    left: -1000px;
  }
  50% {
    left: 60%;
  }
  100% {
    left: -500px;
  }
}

.picBox {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.questionText {
  text-align: center;
  line-height: 2rem;
  white-space: pre-line;
}

.optionBtnFace {
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.optionBtnText {
  font-size: 1rem;
}

.doneBtn {
  height: 40px;
  width: 50%;
  border-radius: 25px;
  cursor: pointer;
  background-color: #1f2144;
  border-color: #fff;
  color: #fff;
  border-width: 2px;
  padding-top: 15px;
  text-align: center;
  font-weight: 500;
}
