.main {
  min-height: 100vh;
}

.picBox {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.questionText {
  text-align: center;
  line-height: 2rem;
  white-space: pre-line;
}

.optionBtnFace {
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.optionBtnText {
  font-size: 1rem;
}

.doneBtn {
  height: 40px;
  width: 50%;
  border-radius: 25px;
  cursor: pointer;
  background-color: #1f2144;
  border-color: #fff;
  color: #fff;
  border-width: 2px;
  padding-top: 15px;
  text-align: center;
  font-weight: 500;
}
